.action-img
  display: block
  margin: auto
  width: 250px

.roll-button
  display: block
  margin: 30px auto 10px
  width: 80%
  padding: 13px
  max-width: 300px
  background: #754f3d
  color: white
  font-weight: bold
  font-size: 1.3rem
  border: 4px ridge #967d72
  border-radius: 5px

  &:hover
    background: #44362f
    border: 4px groove #967d72

.transition-text
  padding: 50px 0
  text-align: center
  font-weight: bold
  font-size: 2rem

.player-tag
  font-size: 3rem

#second-player-tag
  color: #8a1c1c

#third-player-tag
  color: #347c22
