.action-zone
  background: #ece0c3e1
  margin-top: 20px
  padding: 15px 20px 20px

.action-title
  font-weight: bold
  font-size: 1.5rem
  color: #222
  text-align: center
  margin-bottom: 30px

.action-img
  display: block
  margin: auto
  width: 250px

.roll-button
  display: block
  margin: 30px auto 10px
  width: 80%
  padding: 13px
  max-width: 300px
  background: #754f3d
  color: white
  font-weight: bold
  font-size: 1.3rem
  border: 4px ridge #967d72
  border-radius: 5px

  &:hover
    background: #44362f
    border: groove #967d72

.dice-container
  display: flex
  justify-content: center
  flex-wrap: wrap

.die
  margin: 20px
  font-weight: bold
  font-size: 2rem
  text-align: center

  &-img
    width: 100px

.results-zone
  border-top: dashed #967d72
  background: #ece0c3e1
  padding: 15px 20px 20px
